.loading_background {
  background: #fff;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0.85;
}


.pj {
  position: relative;
  height: 100vh;
  letter-spacing: -.5px;
  background: #fff;
}

.pj .login_banner {
  position: relative;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.pj .login_banner .login_logo {
  display: inline-block;
  background-position: 0 -30px;
  background-image: url("../source/login_banner.png");
  width: 400px;
  height: 85px;
  margin-top: 100px;
  background-size: 400px 140px;
}

.pj .login_container .login_range {
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
}

.pj .menu {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
}

.pj .menu .menu_item {
  position: relative;
  display: table-cell;
  vertical-align: top;
  border: 1px solid #e3e3e3;
}

.pj .menu .menu_item:not(:first-of-type) {
  border-left: 0px;
}

.pj .menu .menu_item.now {
  border-bottom: 0px;
}

.pj .menu .menu_item_tag {
  display: block;
  position: relative;
  height: 60px;
  padding-top: 17px;
  text-align: center;
  box-sizing: border-box;
  background-color: #f8f9fa;
  text-decoration-line: none;
}


.pj .menu .menu_item_text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -.5px;
  color: #777;
}

.pj .menu .menu_item.now .menu_item_tag {
  background-color: #fff;
}

.pj .menu .menu_item.now .menu_item_text {
  color: #333;
}

.pj .panel {
  position: relative;
  border: 1px solid #e3e3e3;
  border-top: 0px;
}

.pj .panel .panel_inner {
  padding: 20px;
  min-height: 300px;
}

.blind {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.login_id {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.login_id .input_box {
  margin-top: 10px;
}

.input {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 8px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.input:focus {
  outline: none !important;
  border: 1px solid #000;
}

.input_box.error .input {
  border: 1px solid #f00;
}

.input_box.error .input:focus {
  border: 1px solid #f00;
}


.input_error_hint {
  display: none;
}

.input_box.error .input_error_hint {
  display: block;
  float: left;
  font-size: 11px;
  letter-spacing: -.28px;
  margin: 3px 0px 3px 5px;
  color: #f00;
}


.login_id .btn_box {
  margin-top: 30px;
  width: 100%;
}

.btn {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25px;
  padding: 8px;
  border: 1px solid #89d0e4;
  background-color: #89d0e4;
  border-radius: 5px;
  color: #fff;
  letter-spacing: -.32px;
  font-size: 16px;
  font-weight: 700;
  appearance: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #5fb5cd;
}

.login_id .btn_box .btn {
  box-sizing: initial;
}

.pj .header {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  box-shadow: 1px 1px 10px 1px grey;
}

.pj .header .header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.pj .header .header_box .header_img_box {
  cursor: pointer;
  display: inline-block;
  background-position: 0 -10px;
  background-image: url("../source/login_banner.png");
  width: 200px;
  height: 30px;
  background-size: 200px 50px;
}

.pj .header .header_box .header_ul {
  display: flex;
  gap: 5em;
  font-weight: 600;
  cursor: pointer;
  padding: 0px;
}

.pj .header .header_box .header_ul .header_li {
  position: relative;
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

.pj .header .header_box .header_ul .header_li::after {
  position: absolute;
  left: 0px;
  top: 2px;
  z-index: -10;
  height: 100%;
  width: 100%;
  content: "";
}

.pj .header .header_box .header_ul .header_li:hover {
  background-image: repeating-radial-gradient(#89d0e4, rgb(216 253 147 / 0));
}

.pj .header .header_box .header_ul .header_li.now::after {
  background-image: repeating-radial-gradient(#89d0e4, rgb(216 253 147 / 0));
}

.pj .header .header_box .header_ul .header_li .header_li_text {
  vertical-align: sub;
}

.pj .header .header_box .header_login {
  position: relative;
  cursor: pointer;
  list-style: none;
  color: #29373abf;
  background-image: repeating-radial-gradient(#89d0e4, rgba(222 255 255));
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 9999px;
  min-width: 100px;
  justify-content: center;
}

.pj .header .header_box .header_user {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 900px;
  color: #29373abf;
  background-image: repeating-radial-gradient(#89d0e4, rgba(222 255 255));
  min-width: 100px;
  justify-content: center;
}

.pj .header .header_box .header_user .header_user_profile {
  width: 25px;
  border-radius: 500px;
}

.pj .header .header_box .header_user .header_user_name {
  font-size: 14px;
  padding-left: 5px;
}

.pj .header .header_box .header_user .header_user_detail {
  display: none;
  position: absolute;
  cursor: default;
  top: 45px;
  width: 200px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #c9cac9;
  z-index: 100;
  box-shadow: 1px 1px 3px 1px grey;
  border-radius: 20px;
}

.pj .header_user_detail .detail_top {
  position: relative;
  height: 41%;
  width: 100%;
  background-image: repeating-radial-gradient(#89d0e4, rgba(222 255 255));
  border-radius: 18px 18px 0px 0px;
}

.pj .header_user_detail .detail_bottom {
  height: 100%;
  width: 100%;
  font-size: 14px;
}



.pj .header_user_detail .btn_logout {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: 0px;
  background: none;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.pj .btn_logout .img_logout {
  position: relative;
  width: 20px;
  height: 20px;
}

.pj .header .header_box .header_user .header_user_detail::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #cdf2fc;
  left: 65px;
  bottom: 100%;
  margin-bottom: -5px;
  box-shadow: -2px -2px 0 0 #c9cac9;
}

.pj .header .header_box .header_user.open .header_user_detail {
  display: block !important;
}